:root {
	--bg-color: #ffeecc;
	--text-color: #000044;
	--header-color: #ffddbb;
}

* {
	margin: 0;
	color: var(--text-color);
	border-color: var(--text-color);
	font-family: Helvetica;
}

.header {
	background-color: var(--header-color);
	font-size: 0.7rem;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid;
	margin-bottom: 20px;
	display: flex;
}

.list-header-title-container {
	margin-right: auto;
	margin-left: 20px;
	font-weight: 600;
	font-size: 1.1rem;
}

.list-header {
	padding-top: 8px;
	padding-bottom: 7px;
	width: 250px;
	height: 20px;
	order: -1;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.delete-list {
	border-radius: 5px;
	margin-right: 20px;
	background-color: var(--text-color);
	width: 30px;
	cursor: pointer;
	order: 1;
}

.list {
	background-color: var(--header-color);
	border-radius: 30px;
	min-width: 250px;
	padding-bottom: 50px;
	margin-right: 20px;
	margin-left: 20px;
	border: 1px solid;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: fit-content;
}

.list-title-input-box {
	background-color: var(--header-color);
}

.add-list {
	background-color: var(--header-color);
	corner-shape: squircle;
	border-radius: 50px;
	min-width: 250px;
	height: 40px;
	margin-right: 20px;
	margin-left: 20px;
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	cursor: pointer;
	order: 1;
}

.list-container::-webkit-scrollbar {
	display: none;
}

.list-container {
	display: flex;
	justify-content: left;
	align-content: start;
	overflow-x: auto;
	flex-wrap: nowrap;
}

.dark-mode-button {
	corner-shape: squircle;
	border-radius: 30px;
	margin-right: 10px;
	background-color: var(--text-color);
	width: 30px;
	cursor: pointer;
}

.add-task-button {
	background-color: var(--header-color);
	color: var(--text-color);
	border-color: var(--text-color);
	border: 1px solid;
	width: 220px;
	border-radius: 10px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	order: 1;
	cursor: pointer;
}

body {
	background-color: var(--bg-color);	
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #130627;
		--text-color: #F4D8AC;
		--header-color: #0C0C3D;
	}
}